{% extends "base.html" %}
{% block content %}
    <form method="post" style="width: 500px">
        {% if error == True %}
            <h1 style="color: red">Ошибка ввода: проверьте класс и фамилию!</h1>
        {% endif %}
        {% if guess != False %}
            <h1>Возожно вы имели ввиду "{{guess}}"</h1>
        {% endif %}
        <h1>Выберите класс</h1>
        <select name="grade" class="form-select">
            {% for students_grade in students_grades_list %}
                <option value={{loop.index}}>{{students_grade}}</option>
             {% endfor %}
        </select>
        <h1>Введите фамилию и имя</h1>
        <input name="surname">
        <button type="submit" class="btn btn-primary btn-sm">Отправить</button>
    </form>
{% endblock %}