<!doctype html>
    <html lang="ru">
      <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <style>
           p {
            width: 500px;
            font-size: 22px;
           }
         </style>
        <title>Задание</title>
      </head>
      <body>
      {% if grade=='7' %}
      <h1>Успехов в выполнении задания!</h1>
        {% if variant=='1' %}
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdL9ek6BXwVNxt03nrn8sdxG3EaCWmCI7zF6fNeVOOF873vzw/viewform?usp=sf_link">
                Ваша ссылка на задание
            </a>
        {% elif variant=='2' %}
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeVlRObRBsGrsn5PCNve94ZHhiGaPlobrZt_KBzYlyZX6bIlA/viewform?usp=sf_link">
                Ваша ссылка на задание
            </a>
        {% else %}
            <p>Ошибка выдача сслыки. Обратитесь к учителю!Код ошибки: {{grade}}{{variant}}1</p>
        {% endif %}
      {% elif grade=='9' %}
        {% if variant=='1' %}
            <p>1. Нарисовать блок-схему для алгоритма: здороваемся, спрашиваем, какой сейчас день. Ответ пользователя считываем в переменную day. Если он отвечает суббота или воскресение – говорим «ура выходные». Иначе – говорим «придется в школу вставать!»
            </p>
            <p>2. Написать программу по блок-схеме. Рекомендуется не просто прописать ее в тетрадке, а до этого попробовать ее позапускать. Для этих целей подойдет онлайн интерпретатор python или python IDLE с официального сайта или PyCharm Community Edition
            </p>
        {% elif variant=='2' %}
            <p>1. Нарисовать блок-схему для алгоритма: здороваемся, спрашиваем, какой у пользователя любимый предмет. Ответ пользователя считываем в переменную subject. Если он отвечает «информатика» или «физкультура» (например) – говорим «клево, у меня тоже». Иначе – говорим «это для меня слишком сложно»
            </p>
            <p>2. Написать программу по блок-схеме. Рекомендуется не просто прописать ее в тетрадке, а до этого попробовать ее позапускать. Для этих целей подойдет онлайн интерпретатор python или python IDLE с официального сайта или PyCharm Community Edition
            </p>
        {% elif variant=='3' %}
            <p>1. Нарисовать блок-схему для алгоритма: здороваемся, спрашиваем у пользователя как дела. Ответ пользователя считываем в переменную mood. Если он отвечает «хорошо» или «неплохо» (например) – говорим «рад за тебя». Иначе – говорим «не грусти, все будет хорошо»
            </p>
            <p>2. Написать программу по блок-схеме. Рекомендуется не просто прописать ее в тетрадке, а до этого попробовать ее позапускать. Для этих целей подойдет онлайн интерпретатор python или python IDLE с официального сайта или PyCharm Community Edition
            </p>
        {% else %}
            <p>Ошибка выдача сслыки. Обратитесь к учителю!Код ошибки: {{grade}}{{variant}}2</p>
        {% endif %}
       {% elif grade=='10про' %}
        <h1>Успехов в выполнении задания!</h1>
        {% if variant=='1' %}
           <a href="https://drive.google.com/file/d/1RFKJtVB32HcR8d2vgjnAbWxlTaAgRz2X/view?usp=sharing">
                Ваша ссылка на задание
            </a>
        {% elif variant=='2' %}
            <a href="https://drive.google.com/file/d/1LOOVR8hEcJn6rYEFq8Dut45HFSqFQSht/view?usp=sharing">
                Ваша ссылка на задание
            </a>
        {% elif variant=='3' %}
            <a href="https://drive.google.com/file/d/1AYPOjLF4LR0KVblBfUVNY787lXq-D8qq/view?usp=sharing">
                Ваша ссылка на задание
            </a>
        {% elif variant=='4' %}
            <a href="https://drive.google.com/file/d/1GzHi9bNDskUOKDC527HOLHRt_4x5E01M/view?usp=sharing">
                Ваша ссылка на задание
            </a>
        {% else %}
            <p>Ошибка выдача сслыки. Обратитесь к учителю!Код ошибки: {{grade}}{{variant}}2</p>
        {% endif %}
      {% else %}
        <p>Ошибка выдача сслыки. Обратитесь к учителю!Код ошибки: {{grade}}{{variant}}3</p>
      {% endif %}
      </body>
    </html>